@import "tailwindcss";

@theme {
  --color-text: #120524;
  --color-background: #f4edfd;
  --color-primary: #8b38ff;
  --color-secondary: #ea66d0;
  --color-accent: #c01b81;

  /* Font sizes */
  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-xl: 1.333rem;
  --text-2xl: 1.777rem;
  --text-3xl: 2.369rem;
  --text-4xl: 3.158rem;
  --text-5xl: 4.21rem;

  /* Font families */
  --font-heading: "IBM Plex Sans Thai", sans-serif;
  --font-body: "IBM Plex Sans Thai", sans-serif;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

@theme dark {
  --color-text: #e8dbfa;
  --color-background: #090211;
  --color-primary: #5200c5;
  --color-secondary: #99157f;
  --color-accent: #e441a5;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}
